.body{
    overflow: hidden;
}
.main-cont{
    margin: 50px auto;
    width: 50%;
    height: 600px;
    border-radius: 20px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    overflow: auto;
}
.chat-top{
    display: flex;
}

.chat-top img{
    width: 250px;
    height: 150px;
}

.chat-top h4{
    margin-top: 80px;
    margin-left: 80px;
}
.chat-top p{
    color: rgb(68, 158, 199);
}
.chat-main h6{
    text-align: center;
}
.chat-box{
    font-weight: 500;
    margin-top: 20px;
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 20px;
    background-color: #939393b9;
    border-radius: 150px;
    width: fit-content;
    color: rgb(49, 129, 200);
}
.input{
    display: flex;
    margin-top: 50px;
}
.input input{
    border: none;
    padding: 8px;
    font-size: 18px;
    border-radius: 8px;
    width: 100%;
}
.input button{
    border: none;
    background-color: rgb(49, 129, 200);
    color: white;
    padding: 8px;
    border-radius: 8px;
}
.confirm{
    border: 2px solid black;
    margin: 50px auto;
    text-align: center;
    width: fit-content;
    padding: 20px;
    border-radius: 20px;
}